body {
	background-color: #DCECDC;
	font-family: "Open Sans", Arial;
	font-size: 24px;
	width: 100%;
}

.borrar {
	text-align: center;
	font-size: 30px;
	color: #CECDCC;
	width: 40.3%;
	height: 80px;
	background-color: #FC3030;
	border-radius: 10px;
	margin-left: 30.1%;
	margin-top: 10px;
	border-style: solid;
}

.borrar:hover {
	color: white;
	background-color: #D00101;
	border: 2px solid red;
}

.borrar:focus {
	outline: 0;
}

.telefono {
	width: 100%;

}

h1 {
	text-align: center;
}

.display {
	width: 40%;
	height: 80px;
	margin-left: 30%;
	background-color: #F8831C;
	border: 3px solid #F8831C;
	border-radius: 10px;
	font-size: 30px;
	color: white;
	text-align: right;
	vertical-align: middle;
	line-height: 100px;
	-webkit-user-select: none;         
	-moz-user-select: none; 

}

.display p {
	padding: 0px 0px 0px;
}

.numeros {
	margin-left: 16.75em;
}

.numero {
	display: inline-block;
}

.numero button {
	color: #CECDCC;
	font-size: 30px;
	width: 172px;
	height: 80px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #FE9438;
	border-style: solid;
	border-radius: 10px; 
}

.numero button:hover {
	border: 2px solid #BE6416;
	background-color: #F8831C;
	color: white;
}

.numero button:focus {
	outline: 0;
}